<template>
  <v-container>
    <h1 class="headline">[[My Favorites]]</h1>
    Content is coming to this mobile app very soon!
  </v-container>
</template>

<script>
export default {
  name: "MyFavorites"
}
</script>

<style scoped>

</style>
