<template>
  <v-app>
    <TopToolbar/>
        <v-content>
          <router-view>          </router-view>
        </v-content>

      <BottomNav/>
  </v-app>
</template>


<script lang="ts">


  import {Component, Vue} from 'vue-property-decorator';
  import TopToolbar from '@/components/TopToolbar.vue';
  import BottomNav from '@/components/BottomNav.vue';
  @Component({
    components: {BottomNav, TopToolbar}
  })
  export default class App extends Vue {
  }


</script>
